<!-- BANNER -->
<div id="banner" class="min-h-32 mt-10 pt-10">
	<div class="grid grid-rows-2 relative items-center">
		<div id="title" class="absolute text-4xl font-bold text-accent">
			NO<br />TOMORROW<br />CLUB
		</div>
		<div id="subtitle" class="z-1 absolute text-3xl text-neutral-content">
			Tomorrow Will Never Come
		</div>
	</div>
</div>
