---
const posts = await Astro.glob("../pages/posts/*.md");
---

<!-- 书影音 -->
<div
    class="col-span-2 mt-10 mb-5 py-2 text-accent text-base border-dotted border-b-2 border-accent"
>
    我看
</div>
<div id="letterboxd" class="grid grid-cols-5 gap-10 text-xs"></div>
<div
    class="col-span-2 mt-10 mb-5 py-2 text-accent text-base border-dotted border-b-2 border-accent"
>
    我读
</div>
<div id="goodreads" class="grid grid-cols-5 gap-10 text-xs"></div>
<div
    class="col-span-2 mt-10 mb-5 py-2 text-accent text-base border-dotted border-b-2 border-accent"
>
    我听
</div>
<div
    class="col-span-2 mt-10 mb-5 py-2 text-accent text-base border-dotted border-b-2 border-accent"
>
    我的日记
</div>
<div class="col-span-2">
    {
        posts
            .reverse()
            .slice(0, 4)
            .map((post) => (
                <article>
                    <a href={post.url} target="_blank">
                        <p class="text-sm my-2 text-secondary">
                            {post.frontmatter.title}
                        </p>

                        <p class="text-base-content/60">
                            {post.frontmatter.date}
                        </p>
                        <p class="my-1 pb-2 text-base-content/60">
                            {post.frontmatter.description}
                        </p>
                    </a>
                </article>
            ))
    }
</div>
<!-- 留言板 -->
<div
    class="col-span-2 mt-10 mb-5 py-2 text-accent text-base border-dotted border-b-2 border-accent"
>
    留言板
</div>
<script is:inline>
var remark_config = {
    host: "https://remark42.notomorrow.club",
    site_id: "NotomorrowClub",
    components: ["embed"],
    max_shown_comments: 10,
    theme: "light",
    page_title: "留言板",
};
</script>
<script is:inline>
!(function (e, n) {
    for (var o = 0; o < e.length; o++) {
        var r = n.createElement("script"),
            c = ".js",
            d = n.head || n.body;
        "noModule" in r
            ? ((r.type = "module"), (c = ".mjs"))
            : (r.async = !0),
            (r.defer = !0),
            (r.src = remark_config.host + "/web/" + e[o] + c),
            d.appendChild(r);
    }
})(remark_config.components || ["embed"], document);
</script>
<div id="remark42"></div>

<script>
    import "../js/rss.js";
</script>
