---
const posts = await Astro.glob("../pages/posts/*.md");
---

<!-- 书影音 -->
<div
    class="col-span-2 mt-10 mb-5 py-2 text-accent text-base border-dotted border-b-2 border-accent"
>
    我看
</div>
<div id="letterboxd" class="grid grid-cols-5 gap-10 text-xs"></div>
<div
    class="col-span-2 mt-10 mb-5 py-2 text-accent text-base border-dotted border-b-2 border-accent"
>
    我读
</div>
<div id="goodreads" class="grid grid-cols-5 gap-10 text-xs"></div>
<div
    class="col-span-2 mt-10 mb-5 py-2 text-accent text-base border-dotted border-b-2 border-accent"
>
    我听
</div>
<div id="lastfm" class="grid grid-cols-5 gap-10 text-xs"></div>
<div
    class="col-span-2 mt-10 mb-5 py-2 text-accent text-base border-dotted border-b-2 border-accent"
>
    我的日记
</div>
<div class="col-span-2">
    {
        posts
            .reverse()
            .slice(0, 4)
            .map((post) => (
                <article>
                    <a href={post.url} target="_blank">
                        <p class="text-sm my-2 text-secondary">
                            {post.frontmatter.title}
                        </p>

                        <p class="text-base-content/60">
                            {post.frontmatter.date}
                        </p>
                        <p class="my-1 pb-2 text-base-content/60">
                            {post.frontmatter.description}
                        </p>
                    </a>
                </article>
            ))
    }
</div>
<!-- 留言板 -->
<div
    class="col-span-2 mt-10 mb-5 py-2 text-accent text-base border-dotted border-b-2 border-accent"
>
    留言板
</div>
<script is:inline>
var remark_config = {
    host: "https://remark42.notomorrow.club",
    site_id: "NotomorrowClub",
    components: ["embed"],
    max_shown_comments: 10,
    theme: "light",
    page_title: "留言板",
};
</script>
<script is:inline>
!(function (e, n) {
    for (var o = 0; o < e.length; o++) {
        var r = n.createElement("script"),
            c = ".js",
            d = n.head || n.body;
        "noModule" in r
            ? ((r.type = "module"), (c = ".mjs"))
            : (r.async = !0),
            (r.defer = !0),
            (r.src = remark_config.host + "/web/" + e[o] + c),
            d.appendChild(r);
    }
})(remark_config.components || ["embed"], document);
</script>
<div id="remark42"></div>

<script is:inline>
    const repos = [
  {
    rssUrl: "https://api.rss2json.com/v1/api.json?rss_url=https://letterboxd.com/ooorange/rss",
    rssName: "#letterboxd",
  },
  {
    rssUrl: "https://api.rss2json.com/v1/api.json?rss_url=https://www.goodreads.com/review/list_rss/129150376?shelf=read",
    rssName: "#goodreads",
  },
];
function rss(rssUrl, rssName) {
  const rssXhr = new XMLHttpRequest();
  rssXhr.open("GET", rssUrl);
  rssXhr.onreadystatechange = () => {
    if (rssXhr.readyState === 4) {
      const rssContent = JSON.parse(rssXhr.responseText);
      for (let i = 0; i < 10; i++) {
        let rssTitle = rssContent.items[i].title;
        let rssLink = rssContent.items[i].link;
        let patt1 = /<img.*?src="(.*?)".*?\/?>/gi;
        let patt2 = /http.*?jpg/gi;
        let rssImgLink = String(rssContent.items[i]["content"].match(patt1));
        let rssImg = rssImgLink.match(patt2);
        let rssTitleElement = document.createElement("p");
        let rssLinkElement = document.createElement("a");
        let rssImgElement = document.createElement("img");
        let itemContainer = document.createElement("div");
        document.querySelector(rssName).appendChild(itemContainer);
        rssTitleElement.textContent = rssTitle;
        rssLinkElement.setAttribute("href", rssLink);
        rssLinkElement.setAttribute("target", "_blank");
        rssImgElement.setAttribute("src", rssImg);
        rssImgElement.setAttribute("class", "w-20");
        rssTitleElement.setAttribute("class", "mt-5");
        itemContainer.appendChild(linkElement);
        rssLinkElement.appendChild(rssImgElement);
        itemContainer.appendChild(rssTitleElement);
      }
    }
  };
  rssXhr.send();
}
for (let i = 0; i < repos.length; i++) {
  rss(repos[i]["rssUrl"], repos[i]["rssName"]);
}
</script>
<script is:inline>
    function lastfmRss(lastfmUrl, lastfmName) {
  const lastfmXhr = new XMLHttpRequest();
  lastfmXhr.open("GET", lastfmUrl);
  lastfmXhr.onreadystatechange = () => {
    if (lastfmXhr.readyState === 4) {
      const topAlbums = JSON.parse(lastfmXhr.responseText);
      for (let i = 0; i < 10; i++) {
        let lastfmTitle = topAlbums.topalbums.album[i].name + "·" + topAlbums.topalbums.album[i].artist.name;
        let lastfmLink = topAlbums.topalbums.album[i].url;
        let lastfmImg = String(topAlbums.topalbums.album[i].image[1]["#text"]);
        let lastfmTitleElement = document.createElement("p");
        let lastfmLinkElement = document.createElement("a");
        let lastfmImgElement = document.createElement("img");
        let itemContainer = document.createElement("div");
        document.querySelector(lastfmName).appendChild(itemContainer);
        lastfmTitleElement.textContent = lastfmTitle;
        lastfmLinkElement.setAttribute("href", lastfmLink);
        lastfmLinkElement.setAttribute("target", "_blank");
        lastfmImgElement.setAttribute("src", lastfmImg);
        lastfmImgElement.setAttribute("class", "w-20");
        lastfmTitleElement.setAttribute("class", "mt-5");
        itemContainer.appendChild(lastfmImgElement);
        itemContainer.appendChild(lastfmLinkElement);
        lastfmLinkElement.appendChild(lastfmTitleElement);
      }
    }
  };
  lastfmXhr.send();
}
const lastfmApi = "https://ws.audioscrobbler.com/2.0/?method=user.gettopalbums&user=ooorange777&api_key=e571ab0f73e78879086dd7ef557a4c26&period=1month&limit=10&format=json";
const lastfmId = "#lastfm";
lastfmRss(lastfmApi, lastfmId);
</script>

