---
const { pageTitle } = Astro.props;
---

<!-- NAVBAR -->
<div class="flex flex-row">
    <img src="/ed.jpg" alt="avater" class="size-10" />
    <div class="flex flex-col">
        {
            pageTitle == "我的主页" ? (
                <div class="text-2xl font-bold text-nowrap ml-2">OOORANGE</div>
            ) : (
                <div class="text-2xl font-bold text-nowrap ml-2">
                    {pageTitle}
                </div>
            )
        }
        <slot name="hitokoto">
            <div class="text-nowrap ml-2 mb-2"> </div>
        </slot>
    </div>
</div>

<div id="navbar" class="grid grid-flow-col auto-cols-max gap-10 ml-12">
    <a href="/" class="text-secondary">我的主页</a>
    <a href="/posts/1" class="text-secondary">日记</a>
    <a href="/list/" class="text-secondary">话题</a>
    <a href="/photo/" target="_blank" class="text-secondary">相册</a>
    <a
        href="https://library.notomorrow.club/"
        target="_blank"
        class="text-secondary">图书馆</a
    >
    <button id="toggle" class="bg-primary text-primary-content"
        ><span class="p-1">日夜交替</span></button
    >
</div>
