<div class="grid grid-flow-row">
    <!-- 个人简介 -->
    <div
        class="grid grid-flow-col auto-cols-auto place-items-start justify-start bg-base-200"
    >
        <img src="/ed.jpg" alt="avater" class="mx-2 my-2 size-36" />
        <div class="my-2 mx-2">
            <p class="py-px">常居：茶水间</p>
            <p class="py-px">ooorange</p>
            <p class="py-px">加入时间：2021-06-26</p>
        </div>
    </div>

    <div class="pl-2 py-2 bg-base-200 pb-20">
        <p class="py-px">↑ ↑ ↑ 普通社畜，三分钟热度</p>
        <p class="py=px">又菜又爱玩，上班摸鱼小能手</p>
        <p class="py-px">Pokemon Sleep ID: 414228272809</p>
    </div>
    <!-- 我的广播 -->
    <div class="my-2 mx-2 text-accent text-base">我的广播</div>
    
    <div class="mx-2 w-9/12">
    <ins data-acct="juju@f.jymuoyu.com" data-limit="10"></ins>
    <script data-cfasync="false" src="https://notestock.osa-p.net/_js/notestock_widget.js" defer></script>
    </div>

    <!-- 我的关注 -->
    <div class="my-2 mx-2 text-accent text-base">我的关注</div>
</div>
