<div class="grid grid-flow-row">
    <!-- 个人简介 -->
    <div
        class="grid grid-flow-col auto-cols-auto place-items-start justify-start bg-base-200"
    >
        <img src="/ed.jpg" alt="avater" class="mx-2 my-2 size-36" />
        <div class="my-2 mx-2">
            <p class="py-px">常居：茶水间</p>
            <p class="py-px">ooorange</p>
            <p class="py-px">加入时间：2021-06-26</p>
        </div>
    </div>

    <div class="pl-2 py-2 bg-base-200 pb-20">
        <p class="py-px">↑ ↑ ↑ 普通社畜，三分钟热度</p>
        <p class="py=px">又菜又爱玩，上班摸鱼小能手</p>
        <p class="py-px">Pokemon Sleep ID: 414228272809</p>
    </div>
    <!-- 我的广播 -->
    <div class="my-2 mx-2 text-accent text-base">我的广播</div>
    <script is:inline>
        let dataAcct = "juju@f.jymuoyu.com";
let dataLimit = 10;
const url =
  "https://notestock.osa-p.net/api/v1/search.json?acct=" +
  dataAcct +
  "&limit=" +
  dataLimit;

fetch(url)
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    data.statuses.forEach((status) => {
      const widget = document.querySelector("#ns-container");
      let statusframe = document.createElement("div");
      let title = document.createElement("p");
      widget.appendChild(statusframe);
      statusframe.appendChild(title);
      statusframe.className = "mt-2";
      statusframe.classList.add("pb-5");
      statusframe.classList.add("border-solid");
      statusframe.classList.add("border-b");
      statusframe.classList.add("border-base-300");
      title.textContent = "ooorange 说：";
      title.className = "mb-2";
      let content = document.createElement("p");
      statusframe.appendChild(content);
      content.textContent = status.notag;
      let published = new Date(status.published);
      let time = document.createElement("p");
      time.className = "text-xs";
      time.classList.add("pt-2");
      time.classList.add("text-end");
      statusframe.appendChild(time);
      time.textContent = published.toLocaleString();
    });
  });
    </script>
    <div id="ns-container" class="mx-2 w-9/12"></div>

    <!-- 我的关注 -->
    <div class="my-2 mx-2 text-accent text-base">我的关注</div>
</div>
